<div id="body">
   <ul id="users"> </ul>
    @section scripts{
        <script type="text/javascript">
            $(function(){
                $.getJSON('/api/Users',function(usersJsonPayLoad){
                    $(usersJsonPayLoad).each(function(i,item){
                        $('#users').append('<li>'+item.Email+item.Password+item.Role+'</li>')
                    });
                });
            });
            



        </script>
    }
   
</div>
