<div id="body">
   <ul id="div-users"> </ul>
    

    <div id="div-listUser">

    </div>

    <div id="div-createUser">
        <input type="text" id="email" placeholder="Email"/>
        <input type="password" id="password" placeholder="Password"/>
        <select id="role">
            <option value="2">Cutomer</option>
            <option value="1">Employee</option>
            <option value="0">Sales Administrator</option>
        </select>
        <button type="button" title="Create User" id="submit" onclick="createUser();">Create User</button>
    </div>
   
    <div id="div-searchUser">
        <input type="text" id="userId"/>
        <button type="button" title="Search User" id="submit" onclick="find();">Search for User</button>

    </div>

    <div id="div-specificUser"></div>
        <div id="div-deleteUser">
            <button type="button" id="deleteButton" onclick="deleteUser();" value="temp" style="display:block">Delete User</button>
            <button type="button" id="editButton" onclick="showEditUser();" value="temp" style="display:block">Edit User</button>
        </div>

    <div id="div-editUser">
    <input type="text" id="emailEdit" placeholder="Email"></input>
    <input type="password" id="passwordEdit" placeholder="Password"></input>
    <select id="roleEdit">
        <option value="2">Cutomer</option>
        <option value="1">Employee</option>
        <option value="0">Sales Administrator</option>
    </select>
    <button type="button" title="Create User" id="edit" onclick="editUser();">Edit User</button>
    </div>

    <div id="div-loginUser">
        <input type="text" id="emailLogin" placeholder="Email"></input>
        <input type="password" id="passwordLogin" placeholder="Password"></input>
        <button type="button" title="Login" id="login" onclick="showLogin();">Login</button>
    </div>
</div>
<div>
    Name: <input type="text" id="gamename" placeholder="Game" />
    Releasedate: <input type="text" id="releasedate" placeholder="ReleaseDate" />
    Price: <input type="text" id="price" placeholder="Id" />
    InventoryCount: <input type="text" id="inventory"/>
    <button type="button" title="EditGame" id="race" >Edit Game</button>
</div>

<script type="text/javascript">
    $(document).ready(function ()
    {
        $('#race').click(function () {
            //alert("ok");
            
            var name = $('#gamename').val();
            var releasedate = $('#releasedate').val();
            var price = $('#price').val();
            var inventory = $('#inventory').val();
            var url1 = '/api/games/'
            $.ajax({

                type: 'PUT',
                cache: false,
                dataType: 'JSON',

                contentType: 'application/json',
                data: JSON.stringify(
                    {
                        'ID':15,
                        'Name': name,
                        'ReleaseDate': releasedate,
                        'Price': price,
                        'InventoryCount': inventory
                    }
                    ),
                url: url1 + 15,
                success: function (data) {
                    alert(JSON.stringify(data));
                },
                error: function (e) {
                    alert("Error:" + JSON.stringify(e));
                }
            });
        });
    });
</script>


