<div id="body">
   <ul id="div-users"> </ul>
    

    <div id="div-listUser">

    </div>

    <div id="div-createUser">
        <input type="text" id="email"/>
        <input type="password" id="password" />
        <select id="role">
            <option value="2">Cutomer</option>
            <option value="1">Employee</option>
            <option value="0">Sales Administrator</option>
        </select>
        <button type="button" title="Create User" id="submit" onclick="createUser();">Create User</button>
    </div>
   
    <div id="div-searchUser">
        <input type="text" id="userId"/>
        <button type="button" title="Search User" id="submit" onclick="find();">Search for User</button>

    </div>

    <div id="div-specificUser"></div>

</div>
