<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/Custom%20Scripts/User.js"></script>
<script src="~/Scripts/Custom%20Scripts/Game.js"></script>
<script src="~/Scripts/Custom%20Scripts/Tags.js"></script>
<script src="~/Scripts/Custom%20Scripts/Genres.js"></script>

<div class="navbar navbar-inverse navbar-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="navbar-brand">
                <label>Team 4</label>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Time Entry", "PunchCard", "TimeEntry")</li>
                    <li id="UserLink">@Html.ActionLink("User", "Index", "User")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li> @Html.ActionLink("Log Out", "Logout", "User")</li>
                </ul>
            }
            else
            {
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" onclick="searchUserBox();">
                        User <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a title="Show Users" id="showUserListButton" onclick="showListUsers();">User List</a></li>
                        <li><a title="Create User" id="createUserButton" onclick="showCreateUser();">Create User</a></li>
                        <li><a title="Create User" id="createUserButton" onclick="showLogin();">Login</a></li>
                    </ul>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" onclick="searchGameBox();">
                        Games <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a title ="Show Games" id="showGameListButton" onclick="showListGames();">Game List</a></li>
                    </ul>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" onclick="searchTagBox();">
                        Tags <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a title="Show Tag" id="showTagListButton" onclick="showListTags();">Tag List</a></li>
                        <li><a title="Create Tag" id="creatTagButton" onclick="showCreateTag();">Create Tag</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" onclick="searchGenreBox();">
                        Genres <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a title="Show Tag" id="showGenreListButton" onclick="showListGenre();">Genre List</a></li>
                        <li><a title="Create Tag" id="creatGenreButton" onclick="showCreateGenre();">Create Genre</a></li>
                    </ul>
                </div>
            }

            <div class="nav navbar-nav navbar-right">
                <div class="input-group">
                    <input type="text" id="globalSearchBox" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="globalSearchBoxButton" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>